@charset "utf-8";
/* CSS Document */
body{
	font-family: sans-serif;
	background: #f0f0f0;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
#contener{
	/*width:960px;
	margin:0 auto;*/
		
	}
/*CSS định dạng LOGO*/
#header{
    min-width: 1024px;
    background: yellow;
    width: 100%;
    height: 55px;
	}
#header .headermenu{
    max-width: 1200px;
    min-width: 1024px;
    width: 100%;
    height: 55px;
    margin: auto;
    position: relative;
    display: block;	
 }
#header .headermenu .logo{
	background: black;
	width:400px;
	height: 55px;
}
#header .headermenu .logo a{
	float: left;
    width: 165px;
    display: block;
}
#header .headermenu .logo a img {
	height:45px;
	margin-top: 10px;
	margin-left: 10px;
	}
/*CSS input*/
#header .headermenu .logo form .input{
	float: left;
    width: 162px;
    margin-left: 20px;
    margin-top: 10px;
    padding-top: 5px;
    border: 0;
    position: relative;
    /*background: #fff;*/
    height: 30px;
    text-indent: 10px;
    font-size: 13px;
    border-top-left-radius:10px;border-bottom-left-radius:10px;/*bo viền*/
  }
 #header .headermenu .logo form button img{
 	width: 20px;
 	height: 20px;
 	display: block;
    margin: 1px auto 0;
 }
 #header .headermenu .logo form button{
 	padding-top: 5px;
 	float: left;
 	margin-left: 0px;
 	margin-top: 10px;
    width: 40px;
    height: 36px;
    border: 0;
    background: #FFFFFF;
    border-bottom-right-radius:10px; border-top-right-radius:10px;
 }
 #header .headermenu .logo form button:hover{
 	background-color: yellow;
 }
/*CSS định dạng list danh sách*/
#header .headermenu .list ul {
	 float: left;
    width: 900px;
    margin-left: 350px;
    margin-top: -65px;
    padding-top: 5px;
    border: 0;
    position: static;
    height: 51px;
    text-indent: 10px;
}
#header .headermenu .list li{
	width: 80px;
	display: inline-table;
	text-align:center;
}
#header .headermenu .list li a img{
	width: 40px;
	height: 40px;
	display: block;
	margin-left: auto;
    margin-right: auto;
}
#header .headermenu .list li a span{
	text-align: center;
	color: #000;
    font-size: 12px;
}
#header .headermenu .list li:hover, #header .headermenu .list li a:hover{
	background-color: #ebebeb;
}
#header .headermenu .list li:visited, #header .headermenu .list li a:visited{
	background-color: #ebebeb;
}
/*}
 #header .headermenu .list .list1 li a{
	color:#080808;
	text-decoration: none;
	display: block;
	font-size: 14px;
}
 #header .headermenu .list .list1 li a:hover{
	background-color: #969696;

}*/
/* #header .headermenu .list .list1 li > .menu-con{
	display: none;*/ /*ẩn tất cả phần tử*/
	/*position: absolute;*/
/*}
 #header .headermenu .list .list1 li:hover .menu-con{
	display: block;
	background-color: #FFFF00;
}
*/
/*===============================================CSS FOOTER====================================================================*/
#footer{
    width: 100%;
    min-width: 980px;
    margin: 15px auto 0 auto;
    overflow: hidden;
    clear: both;
}
#footer .hotro{
	display: block;
    overflow: hidden;
    margin: 15px auto;
    width: 100%;
    min-width: 980px;
    margin-bottom: 0;
    background-color: white;
}
#footer .hotro .thongtin{
	float: left;
    width: 385px;
    font-size: 15px;
    line-height:20px;
}
#footer .address{
	width: 100%;
    min-width: 980px;
    margin: 10px auto 0;
    overflow: hidden;
    background: #f0f0f0;
    padding: 15px 0;
    border-top: 1px solid #ddd;
	/*width: 100%;
    min-width: 980px;
    margin: 15px auto 0 auto;
    border-top: 1px solid #ddd;*/

}
#footer .address .address1{
	display: block;
	width: 388;
	float: left;
	margin-right: 111px;
	font-size: 15px;
	line-height:20px;
}
#footer .address #ad1{
	margin-left: 40px;
}
#footer .address #ad2 a{
	display: inline-table;
	width: 78px;
}